node_modules/

# Node paket dosyaları (repo'da istemiyorsun)
package-lock.json
package.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / dist çıktıları
dist/
build/
.next/
out/

# Ortam dosyaları
.env
.env.local
.env.*.local

# Sistem dosyaları
.DS_Store
Thumbs.db


